.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, max-content));
  gap: 16px;
  justify-content: center;
}

.card-container_empty {
  display: block;
}

.card-container__message {
  margin: 40px 0;
  color: #6b6b6b;
  text-align: center;
}
