.book-details {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.book-details__back-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 100px;

  text-decoration: none;
}

.book-details__meta {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.book-details__meta-item {
  color: #4b4c4c;
}
