.book-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  box-sizing: border-box;
  width: 300px;
  height: 350px;
  padding: 18px;
  border: 1px solid #797b7d;
  border-radius: 10px;
}

.book-card__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.book-card__header {
  display: flex;
  flex-direction: column;
}

.book-card__title {
  margin: 0 0 10px;
  font-size: 20px;
}

.book-card__link {
  color: #000;
  text-decoration: none;
}

.book-card__link:hover {
  color: #4b4c4c;
  text-decoration: underline;
}

.book-card__meta {
  display: flex;
  flex-direction: column;
}

.book-card__meta-item {
  font-size: 14px;
  color: #4b4c4c;
}

.book-card__description {
  margin: 12px 0 16px;
  color: #202020;
}

.book-card__actions {
  display: flex;
  justify-content: flex-end;
}
