:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

.app {
  padding: 30px;
}

.nav {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.nav__link {
  text-decoration: none;
  color: #000;
  font-size: 20px;
}

.nav__link_active {
  text-decoration: underline;
}
